{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/registrate.css' %}">
    <title>Регистрация</title>
    <style>
    </style>
</head>
<body>

<div class="container">
    <h2 class="text-center mb-4">Регистрация</h2>
    <form>
        {% csrf_token %}
        <div class="form-group">
            <label for="inputEmail">Email адрес</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Введите ваш email" required>
        </div>
        <div class="form-group">
            <label for="inputPassword">Пароль</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Введите пароль" required>
        </div>
        <div class="form-group">
            <label for="inputFirstName">Имя</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="Введите ваше имя" required>
        </div>
        <div class="form-group">
            <label for="inputLastName">Фамилия</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Введите вашу фамилию" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
